/* Slide in from right side */

.slide-in-right-enter {
  opacity: 0;
  transform: translate(300px);
}
.slide-in-right-enter-active {
  transition: opacity 300ms, transform 300ms;
  transform: translate(0px);
  opacity: 1;
}

.slide-in-right-exit {
  opacity: 1;
}

.slide-in-right-exit-active {
  transition: opacity 300ms, transform 300ms;
  transform: translate(300px);
  opacity: 0;
}

/* Slide in 50px icon from left side */

.slide-in-icon-left-enter {
  opacity: 0;
  transform: translate(-300px);
  width: 0;
}
.slide-in-icon-left-enter-active {
  transition: opacity 300ms, transform 300ms, width 300ms;
  transform: translate(0px);
  opacity: 1;
  width: 50px;
}

.slide-in-icon-left-exit {
  opacity: 1;
  width: 50px;
}

.slide-in-icon-left-exit-active {
  transition: opacity 300ms, transform 300ms, width 300ms;
  transform: translate(-300px);
  opacity: 0;
  width: 0px;
}

/* Shake animation for failed login */

.shake {
  animation: shake 0.5s linear;
}

@keyframes shake {
  0% { transform: translateX(0px); }
  10% { transform: translateX(8px); }
  20% { transform: translateX(0px); }
  30% { transform: translateX(-8px); }
  40% { transform: translateX(0px); }
  50% { transform: translateX(8px); }
  60% { transform: translateX(0px); }
  70% { transform: translateX(-8px); }
  80% { transform: translateX(0px); }
  90% { transform: translateX(8px); }
  100% { transform: translateX(0px); }
}